.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5000;
}

.fraction-slider .active-slide{
	z-index:1;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7000;
	color:#c9d8e8;
	font-size:18px;
	font-family: 'open_sanslight';
}

.fraction-slider .claim{font-size:50px;font-family: 'CamillaRegular';}
.fraction-slider .fs_fixed_obj{
	z-index:6000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	background:url(images/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	position:absolute;
	width:38px; height:85px;
	z-index:9999;
	opacity:0.6;
}

.fraction-slider .prev{
	left:10px; top:48%;
	background:url('../images/slider/lft_arrow.png') 0px 0px no-repeat transparent;
	
}
.fraction-slider .prev:hover{
	opacity:0.8;
}

.fraction-slider .next{
	right:0px; top:48%;
	background:url('../images/slider/rgt_arrow.png') 0px 0px no-repeat transparent;
}
.fraction-slider .next:hover{
	opacity:1;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:9999;	
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(images/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active{
	background:url(images/fs.pager.png) 0px 0px no-repeat transparent;
}