

@-webkit-keyframes progress
{
	to {background-position: 30px 0;}
}

@-moz-keyframes progress
{
  to {background-position: 30px 0;}
}

@keyframes progress
{
  to {background-position: 30px 0;}
}

/* Set the base of our loader */

.barBg {
	background:#282828;
	width:100%;
	height:15px;
	border:2px solid #282828;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}


.bar {
	background: #7aff32;
	height:30px;
	height: 15px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 10px;
}

/* Set the linear gradient tile for the animation and the playback */

.barFill {
	width: 100%;
	height: 15px;
	border-radius: 20px;
	-webkit-animation: progress 1s linear infinite;
	-moz-animation: progress 1s linear infinite;
	animation: progress 1s linear infinite;
	background-repeat: repeat-x;
	background-size: 30px 30px;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* Here's some predefined widths to control the fill. Add these classes to the "bar" div */

.ten {
	width: 10%; /* Sets the progress to 10% */
}	

.twenty {
	width: 20%; /* Sets the progress to 20% */
}	

.thirty {
	width: 30%; /* Sets the progress to 30% */
}	

.forty {
	width: 40%; /* Sets the progress to 40% */
}	

.fifty {
	width: 50%; /* Sets the progress to 50% */
}

.sixty {
	width: 60%; /* Sets the progress to 60% */
}	

.seventy {
	width: 70%; /* Sets the progress to 70% */
}	

.eighty {
	width: 80%; /* Sets the progress to 80% */
}	

.ninety {
	width: 90%; /* Sets the progress to 90% */
}	

.hundred {
	width: 100%; /* Sets the progress to 100% */
}	

/* Some colour classes to get you started. Add the colour class to the "bar" div */

.aquaGradient{
	/*background: -moz-linear-gradient(top,  #7aff32 0%, #54a6e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7aff32), color-stop(100%,#54a6e5));
	background: -webkit-linear-gradient(top,  #7aff32 0%,#54a6e5 100%);
	background: -o-linear-gradient(top,  #7aff32 0%,#54a6e5 100%);
	background: -ms-linear-gradient(top,  #7aff32 0%,#54a6e5 100%);
	background: linear-gradient(to bottom,  #7aff32 0%,#54a6e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aff32', endColorstr='#54a6e5',GradientType=0 );*/
	
	background: -moz-linear-gradient(top,  #000 0%, #54a6e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(100%,#54a6e5));
	background: -webkit-linear-gradient(top,  #000 0%,#54a6e5 100%);
	background: -o-linear-gradient(top,  #000 0%,#54a6e5 100%);
	background: -ms-linear-gradient(top,  #000 0%,#54a6e5 100%);
	background: linear-gradient(to bottom,  #000 0%,#54a6e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aff32', endColorstr='#54a6e5',GradientType=0 );
	
}

.roseGradient {
	/*background: #ff3232;
	background: -moz-linear-gradient(top,  #ff3232 0%, #ed89ff 47%, #ff8989 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(47%,#ed89ff), color-stop(100%,#ff8989));
	background: -webkit-linear-gradient(top,  #ff3232 0%,#ed89ff 47%,#ff8989 100%);
	background: -o-linear-gradient(top,  #ff3232 0%,#ed89ff 47%,#ff8989 100%);
	background: -ms-linear-gradient(top,  #ff3232 0%,#ed89ff 47%,#ff8989 100%);
	background: linear-gradient(to bottom,  #ff3232 0%,#ed89ff 47%,#ff8989 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff8989',GradientType=0 );*/
	
	background: -moz-linear-gradient(top,  #000 0%, #54a6e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(100%,#54a6e5));
	background: -webkit-linear-gradient(top,  #000 0%,#54a6e5 100%);
	background: -o-linear-gradient(top,  #000 0%,#54a6e5 100%);
	background: -ms-linear-gradient(top,  #000 0%,#54a6e5 100%);
	background: linear-gradient(to bottom,  #333 0%,#F60 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aff32', endColorstr='#54a6e5',GradientType=0 );
}

.madras { /* Credit to Divya Manian via http://lea.verou.me/css3patterns/#madras */

        background: -moz-linear-gradient(top,  #999 0%, #456109 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(100%,#456109));
	background: -webkit-linear-gradient(top,  #999 0%,#456109 100%);
	background: -o-linear-gradient(top,  #999 0%,#456109 100%);
	background: -ms-linear-gradient(top,  #999 0%,#456109 100%);
	background: linear-gradient(to bottom,  #999 0%,#456109 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aff32', endColorstr='#54a6e5',GradientType=0 );
}


	/*background-color: hsl(34, 53%, 82%);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,                  
	  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
	  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
	  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
	  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px       
	  ),
	-webkit-repeating-linear-gradient(-45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, 
	  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
	  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
	  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
	  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px       
	);; background-color: hsl(34, 53%, 82%);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,                  
	  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
	  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
	  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
	  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px       
	  ),
	-webkit-repeating-linear-gradient(-45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, 
	  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
	  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
	  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
	  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px       
	);*/
}

.cornflowerblue {
	background-color: CornflowerBlue;
	box-shadow:inset 0px 0px 6px 2px rgba(255,255,255,.3);
}

.carrot {
	background: #f2a130;
	background: -moz-linear-gradient(-45deg,  #f2a130 0%, #e5bd6e 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2a130), color-stop(100%,#e5bd6e));
	background: -webkit-linear-gradient(-45deg,  #f2a130 0%,#e5bd6e 100%);
	background: -o-linear-gradient(-45deg,  #f2a130 0%,#e5bd6e 100%);
	background: -ms-linear-gradient(-45deg,  #f2a130 0%,#e5bd6e 100%);
	background: linear-gradient(135deg,  #f2a130 0%,#e5bd6e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a130', endColorstr='#e5bd6e',GradientType=1 );

}