/*******Media Css For Mobile small************/

@media screen and (max-width:319px) {
	.deskMobDiv{
		display:none;
	}
	.fraction-slider .prev{
		top:25%;
	}
} 
/*******Media Css For Mobile Portrait************/

@media screen and (min-width:320px) and (max-width:640px){
	.deskMobDiv,.loginForm,.loginBtnTogle{
		display:none;
	}
	.mobDeskDiv{
		display:block;
	}
	.headerInner,.footerInner,.content,.rightContDivInner .mainRows,.footinner,.footinner ul{
		width:100%;
	}
	.footerInner ul li{width:97%;}
	.fraction-slider .prev,.fraction-slider .next{
		top:25%;
	}
	.leftContDiv,.rightContDiv{
		width:98%;
	}
	#slider1 .overview li{
		width:298px;
	}
	.classDiv{
		left:90px;
	}
	.leaderBoardInner{
		margin:36px 7px;
	}
	.rightContDiv .rightContDivInner .videoDiv .videoDivInner img{
		width:100%;
	}
	.rightContDiv .rightContDivInner .videoDiv{
		width:92%;
	}
	.footerInner ul li:last-child,.footinner .socialIconDiv{float:left;}
	.footerInner ul li .footInerDiv{width:95%;}
	#slider2 .content .heading{
		float: none;
		margin: 0 auto;
		width: 90%;
	}
	.footinner li{
		margin:0 6px;
	}
	.logo {
		float: left;
		width: 76%;
	}
	.logo img {
		width: 76%;
	}
	.logo span {
		float: right;
	}
	.nav li{
		border-bottom: 1px solid #ADC5DF;
		display: inline-block;
		text-align: center;
		width: 100%
	}
	.nav li a{
		padding: 10px 0;
		width: 100%;
	}
	.nav ul{
		background: #07223C;
		float: right;
		position: relative;
		width: 70%;
	}
	.navMobile{
		position: absolute;
		right: 15px;
		top: 47px;
		width: auto;
		z-index: 10000;
		display:block;
	}
	.loginFormMob{
		right:73px;
	}
	.footinner .socialIconDiv {
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}
}

/*******Media Css For Mobile Screen Landscape and tablet Portrait************/


@media only screen and (min-width: 480px) and (max-width: 767px) {
	.deskMobDiv,.loginForm{
		display:none;
	}
	.mobDeskDiv{
		display:block;
	}
	.fraction-slider .prev,.fraction-slider .next{
		top:25%;
	}
	#slider1 .overview li {
		width: 452px;
	}
	.classDiv {
		left: 185px;
	}
	#slider2 .overview li{
	
		width:212px;
	}
	.logo span a{
		font-size: 15px; color:#fff; 
		padding: 21px 0px;
	}
	.navMob i{margin: 20px 15px;}
	.logo img {
		width: 59%;
	}
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
	#slider1 .overview li {
		width: 337px;
	}
	
	.classDiv {
		left: 132px;
	}
	#slider2 .overview li{
		width:332px;
	}
}
@media only screen and (min-width: 550px) and (max-width: 640px) {
	#slider1 .overview li {
		width: 619px;
	}
	.classDiv {
		left: 280px;
	}
	
	#slider2 .overview li {
		width: 290px;
	}
}
/***********Tablet Screen Portrait***************/

@media screen and (min-width:641px) and (max-width:999px){ 
	.headerInner,.footerInner,.content,.rightContDivInner .mainRows,.footinner{
		width:100%;
	}
	#slider1 .overview li{
		WIDTH:377px;
	}
	.rightContDiv .rightContDivInner .videoDiv .videoDivInner img{
		width:100%;
	}
	.rightContDiv .rightContDivInner .videoDiv{
		width:93%;
	}
	#slider2 .content .heading{
		float: none;
		margin: 0 auto;
		width: 97%;
	}
	.classDiv{
		left:135px;
	}
	#slider2 .overview li{
		width:352px;
	}
	.footerInner ul li:last-child .footInerDiv {
		width: 82%;
	}
	.footinner li:first-child a{padding-left:10px;}
	.footerInner ul li .footInerDiv{
		padding: 10px 20px;
	}
}

/***********Tablet Screen Landscape***************/


@media screen and (min-width:768px) and (max-width:900px){
	
	#slider1 .overview li {
		width: 402px;
	}
	
	#slider2 .overview li {
		width: 368px;
	}
	.innerright_con {width:500px;}
}


@media screen and (max-width:767px) {
.innerleft_con, .innerright_con { float:none; width:100%; border-left:0px; padding-left:0px;}
.headerInner, .footerInner, .content, .rightContDivInner .mainRows, .footinner {width:97%;}

}

@media screen and (min-width:900px) and (max-width:999px){
	#slider1 .overview li {
		width: 495px;
	}
	
	#slider2 .overview li {
		width: 296px;
	}
}
@media screen and (min-width:1000px) and (max-width:1199px){
	.headerInner,.footerInner,.content,.rightContDivInner .mainRows,.footinner{
		width:100%;
	}
	.rightContDiv .rightContDivInner .videoDiv .videoDivInner img{
		width:100%;
	}
	.rightContDiv .rightContDivInner .videoDiv{
		width:93%;
	}
	.footerInner ul li:last-child .footInerDiv {
		width: 87%;
	}
	#slider2 .content .heading{
		float: none;
		margin: 0 auto;
		width: 97%;
	}
	#slider2 .overview li{
		width:310px;
	}
	.footinner li:first-child a{padding-left:10px;}
	.footerInner ul li .footInerDiv{
		padding: 10px 20px;
	}
}

/***********Desktop Screen***************/

@media screen and (max-width:999px) {

	.homebanner {height:auto;}

}

@media screen and (min-width:1200px) and (max-width:2600px) {
	
}