/**********Stylesheet CSS File************/

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../web-fonts/bebasneue-webfont.eot');
    src: url('../web-fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../web-fonts/bebasneue-webfont.woff') format('woff'),
         url('../web-fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../web-fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../web-fonts/opensans-regular_0-webfont.eot');
    src: url('../web-fonts/opensans-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../web-fonts/opensans-regular_0-webfont.woff') format('woff'),
         url('../web-fonts/opensans-regular_0-webfont.ttf') format('truetype'),
         url('../web-fonts/opensans-regular_0-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../web-fonts/opensans-light_0-webfont.eot');
    src: url('../web-fonts/opensans-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../web-fonts/opensans-light_0-webfont.woff') format('woff'),
         url('../web-fonts/opensans-light_0-webfont.ttf') format('truetype'),
         url('../web-fonts/opensans-light_0-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../web-fonts/opensans-semibold_0-webfont.eot');
    src: url('../web-fonts/opensans-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../web-fonts/opensans-semibold_0-webfont.woff') format('woff'),
         url('../web-fonts/opensans-semibold_0-webfont.ttf') format('truetype'),
         url('../web-fonts/opensans-semibold_0-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CamillaRegular';
    src: url('../web-fonts/camilla.eot');
    src: url('../web-fonts/camilla.eot') format('embedded-opentype'),
         url('../web-fonts/camilla.woff') format('woff'),
         url('../web-fonts/camilla.ttf') format('truetype'),
         url('../web-fonts/camilla.svg#CamillaRegular') format('svg');
}


@font-face {
    font-family: 'HoboStdMedium';
    src: url('../web-fonts/hobostd.eot');
    src: url('../web-fonts/hobostd.eot') format('embedded-opentype'),
         url('../web-fonts/hobostd.woff') format('woff'),
         url('../web-fonts/hobostd.ttf') format('truetype'),
         url('../web-fonts/hobostd.svg#HoboStdMedium') format('svg');
}




body,html{
	margin:0;
	padding:0;
	font-size:14px;
    height:100%;
}
body{
	background: url('../images/bg.png') #fff; font-family: 'open_sansregular';
}
*{
	margin:0;
	padding:0;
}
textarea{resize:none;}
p {
    text-align:justify;
	font-size:13px;
}
img {
    border:medium none;
}
a {
    color:#ff6c00;
	outline:medium none;
    text-decoration:none;
}
a:hover{
	 text-decoration:underline;
}

ul,ol{
	list-style:none;
	padding:0;
	margin:0;
}
input {
    outline:medium none;
}

input[type="text"], input[type="password"], textarea {
    -moz-box-sizing: border-box;
    background: #c9c9c9;
    border: 1px solid #C3C3C3;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(border-radius.htc);
    color: #757575;
    font-size: 13px;
    margin: 0;
    outline: 0 none;
    padding: 0 2px;
    text-overflow: ellipsis;
    transition: all 0.2s ease-in-out 0s;
    vertical-align: top;
	width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #89add3;
    box-shadow: 0 0 7px #89add3;
}

:-moz-placeholder {
    font-size:14px;
	font-weight:bold;
	font-style:italic;
	color:#757575;
}
.placeholder {
    font-size:14px;
	font-weight:bold;
	font-style:italic;
	color:#757575;
}
.cursorPointer {cursor:pointer;}

h1,h2,h3{
	font-family:;
	padding-bottom:10px;
	border-bottom:2px double #e3e3e3;
	color:#333;
}

h1 {font-size:30px;}
h2 {font-size:26px;}
h3 {font-size:22px;}
section{
	width:100%;
	float:left;
	margin-bottom:15px;
}		
/*----------------------------------------------  Select menu  ---------------------------------------------- */

select, div.styled {  
	width:12em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(border-radius.htc);
	border: solid 1px #ccc; 
	padding:0.4em;
}
	
div.styled, select:after {
	background: white url(formelements-select.png) no-repeat center right;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}	

div.styled { overflow:hidden; padding:0; margin:0; }
	
	.ie7 div.styled {border:none;}

div.styled select {	
	width:115%; background-color:transparent; background-image:none;
	-webkit-appearance: none; border:none; box-shadow:none;}
	
.ie7 div.styled select {
	width:100%; background-color:#fff; border: solid 1px #ccc; 
	padding:0.3em 0.5em;
}	

/**************************Css for all radio and check-box button***************************************/


input[type="radio"], input[type="checkbox"] {
    left: -999em;
    position: absolute;}

.efectiveBox:before {
    background-image: url(formelements.png);
    content: "";
    display: inline-block;
    height: 23px;
    left: -2px;
    position: relative;
    top: 0.45em;
    width: 25px;
}
input[type="checkbox"] + .efectiveBox:before {
    background-position: 0 -25px;
}
input[type="checkbox"]:checked + .efectiveBox:before {
    background-position: 0 0;
}
input[type="radio"] + .efectiveBox:before {
    background-position: -25px -25px;
}
input[type="radio"]:checked + .efectiveBox:before {
    background-position: -25px 0;
}
.ie8 .efectiveBox:before {
    content: none;
    display: none;
}
.ie8 input[type="checkbox"], .ie8 input[type="radio"], .ie7 input[type="checkbox"], .ie7 input[type="radio"] {
    left: 0;
    position: static;
}
.ie8 input[type="checkbox"], .ie8 input[type="radio"] {
    margin-right: 0.5em;
    position: relative;
    top: 5px;
}

/*************Common Css*****************/

.cursorPoniter{cursor:pointer;}
.lineHgt1{line-height:1;}
.rnd3{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(border-radius.htc);
}
.rnd5{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(border-radius.htc);
}
.rnd10{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
}
.rnd15{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	behavior: url(border-radius.htc);
}
.rnd20{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	behavior: url(border-radius.htc);
}
.clear{clear:both;}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.floatNone{
	float:none;
}
.textCenter{
	text-align:center;
}
.textLeft{
	text-align:left;
}
.textRight{
	text-align:right;
}
.marginAuto{
	margin:auto;
}
.paddingAuto{
	padding:auto;
}
.pad5{padding:5px;}
.pad10{padding:10px;}
.pad15{padding:15px;}
.pad20{padding:20px;}
.pad25{padding:25px;}

.padLeft5{padding-left:5px;}
.padLeft10{padding-left:10px;}
.padLeft15{padding-left:15px;}

.padRight5{padding-right:5px;}
.padRight10{padding-right:10px;}
.padRight15{padding-right:15px;}

.padTop5{padding-top:5px;}
.padTop10{padding-top:10px;}
.padTop15{padding-top:15px;}

.padBot5{padding-bottom:5px;}
.padBot10{padding-bottom:10px;}
.padBot15{padding-bottom:15px;}
.padBot20{padding-bottom:20px;}


.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.margin25{margin:25px;}

.marginTop5{margin-top:5px;}
.marginTop10{margin-top:10px;}
.marginTop15{margin-top:15px;}
.marginTop30{margin-top:30px;}


.marginBot5{margin-bottom:5px;}
.marginBot10{margin-bottom:10px;}
.marginBot15{margin-bottom:15px;}
.marginBot30{margin-bottom:30px;}

.marginLeft5{margin-left:5px;}
.marginLeft10{margin-left:10px;}
.marginLeft15{margin-left:15px;}

.marginRight5{margin-right:5px;}
.marginRight10{margin-right:10px;}
.marginRight15{margin-right:15px;}

.widthAuto{width:auto;}
.widthHundPer{width:100%;}
.widthHalfPer{width:50%;}

.heightAuto{height:auto;}

.fontSize12{font-size:12px;}
.fontSize13{font-size:13px;}
.fontSizeImp13{font-size:13px !important;}
.fontSize14{font-size:14px;}
.fontSize15{font-size:15px;}
.fontSize16{font-size:16px;}
.fontSize18{font-size:18px !important;}
.fontSize25{font-size:25px;}
.fontBold{font-weight:bold;}

.hide{display:none;}
.show{display:block;}

.overflowAuto{overflow:auto;}
.overflowAuto_x{overflow-x:auto;}
.overflowAuto_y{overflow-y:auto;}

.color3{color:#333;}
.color6{color:#666;}
.verticalMiddle{vertical-align:middle;}

.orangeBtn{
	padding:7px 22px;
	color:#fff;
	text-transform:uppercase;
	font-size:22px;
	cursor:pointer;
	font-family: 'bebas_neueregular';
	border:1px solid #eb5515;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(border-radius.htc);
	background: #F7A43C; /* Old browsers */
	background: -moz-linear-gradient(top, #F7A43C 0%, #F7A43C 0%, #f05614 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7A43C), color-stop(0%,#F7A43C), color-stop(100%,#f05614)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7A43C 0%,#F7A43C 0%,#f05614 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7A43C 0%,#F7A43C 0%,#f05614 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7A43C 0%,#F7A43C 0%,#f05614 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F7A43C 0%,#F7A43C 0%,#f05614 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7A43C', endColorstr='#f05614',GradientType=0 ); /* IE6-9 */
}
.orangeBtn:hover{
	opacity:0.9;
	filter:Alpha(opacity=90); /* IE8 and earlier */
	text-decoration:none;
}
.deskMobDiv,.loginForm{
	display:block;
}
.mobDeskDiv{
	display:none;
}
/***********Center Width Div**************/
.wrapper{
	width:100%;
	float:left;
	height:100%;
}
#container{
	width:100%;
	float:left;
	
}
/************CSS For Header*************/
#header{
	background:#07223c;
	min-height:65px;
	float:left;
	width:100%;
}
.headerInner{
	width:1000px;
	float:none;
	margin:0 auto;
}
.logo{
	float:left;
}
.logo img{
	width:100%;
}
.logo span{
	display:inline-block;
}
.logo span a{
	font-size: 15px; color:#fff; 
	padding: 19px 0px;
}
.nav{
	float:right;
}
.nav li{
	display:inline-block;
}

.nav li a{ 
	padding:18px 15px;
	color:#adc5df;
	text-transform:capitalize;
	font-size:24px;
	display:inline-block;
	font-family:'CamillaRegular';}

.borderBotmLine{
	background:url('../images/borderLine.png')repeat-x;
	height:10px;
	float:left;
	width:100%;}

.navMob i {
	color:#fff;
	font-size:25px;
	float:right;
	margin: 20px 15px;}

.navMob:hover i{
	color:#ADC5DF;
}
/************CSS For Banner*************/

/* SLIDER STYLES */
	
.slider-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0 auto;
	float:left;
	background:url(../images/slider/slide1.png);
}

.slider{
	position:relative;
	width:100%; 
/*	height:400px; when responsive, comment this out */
	margin:0 auto;
}
.loginForm{
	float:right;
	display:none;
	min-height:150px;
	background:#214353;
	color:#fff;
	padding:15px;
	width:38%;
	z-index:10000;
	position:absolute;
	right:0;
	top:57px;
	opacity:1;
	filter:Alpha(opacity=100); /* IE8 and earlier */
}
.loginBtnTogle{
	z-index:10000;
	float:right;
	position:relative;
	opacity:0.9;
	filter:Alpha(opacity=90); 
}
.loginForm h1{
	font-family: 'bebas_neueregular';
	color:#fff;
	border-bottom:1px solid #285f6f;
	font-size:24px;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:10px;
	text-align:center;
}
.loginForm label input[type="text"],.loginForm label input[type="password"]{
	padding:13px 0 8px 8px;
}
.loginForm label{
	margin:6px 0;
	width:100%;
	float:left;
}
.clkSignup a{
	text-transform:uppercase;
	font-family: 'bebas_neueregular';
	font-size:20px;
	color:#89add3;
	display: inline-block;
    padding: 10px 0;
}
.clkSignup a span{
	color:#fff;
}
.loginFormMob{
	display: none; 
	position: absolute; 
	float: right;
	right: 110px; 
	width: 65%; 
	opacity: 1; 
	top: 47px;
}
@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}

/************CSS For Content*************/
.content{
	width:1000px;
	float:none;
	margin:0 auto;
}
.contentInner{
	width:100%;
	float:left;
}
.leftContDiv{
	width:52%;
	float:left;
}
.leftContDivInner{
	padding:10px;
}
.rightContDiv{
	width:47%;
	float:right;
}
.rightContDivInner{
	padding:10px;
}
.leaderBoard{
	margin-top: -10px;
	width:100%;
	float: left;
	position: relative;
}
.sliderDivs{
	
	float:left;width:100%;
}
.leaderBoardInner{
	margin:28px 7px;
	float:left;
	width:97%;
	position: relative;
}
.leaderBoardTable {
	width:100%;
	float:left;
	padding: 10px;
	background:url('../images/borderLine.png');}
	
.probgtbl {}

.leaderBoardTable table, .probgtbl table {
	border-collapse:collapse;
	width:100%;
	background:url('../images/bg.png') #f9f9f9;
}
.leaderBoardTable thead tr th, .probgtbl tr th{
	background:#0C5276;
	padding:8px 5px;
	font-size:18px;
	color:#fff;
	font-family:open_sanslight;
	font-weight:bold;
	text-align:left;
}
.leaderBoardTable tbody tr td, .probgtbl tr td {
	color:#333;
	padding:3px 3px;
	font-size:14px;
	text-align:left;
}
.leaderBoardTable tbody tr, .probgtbl tbody tr {
	border-bottom:2px ridge #fff;
}
.leaderBoardTable tbody tr:last-child{
	border-bottom:none;
}
.leaderBoardTable tbody tr td:first-child .bckImg{
	border:3px solid #d9d9d9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(border-radius.htc);
	background:#fff;
	padding: 2px 5px;
    text-align: center;
    width: 37px;
}
.classDiv{
	background: #0C5276;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    float: left;
    font-size: 24px;
    left: 185px;
    padding: 5px 25px;
    position: absolute;
	font-family:'CamillaRegular';
    top: -26px;
}
.leaderboardHead{
	border-bottom: 0px none; 
	padding: 15px 5px 0px 10px;
}
.mindHourDiv p{
	margin:10px 0;
	font-size:14px;
	color:#333;
	text-align:left;
}
.mindHourDiv p:nth-child(2){
	font-size:18px;
	color:#646464;
}
.mainRows{
	float:left;
}
.videoDivInner{
	background:#fff;
	padding:5px 5px 5px;
}
.videoDiv{
	padding:8px;
	background:url('../images/borderLine.png') #fff;
}
.heading{
	border-bottom:none;
	font-family:'CamillaRegular';
}
.peopleSayList li:first-child{
	border-left:none;
}
.peopleSayList li{
	margin:15px 10px;
	border-left:1px solid #e3e3e3;}

.peopleSayImg{
	background:#fff;
	padding:10px;
	height: 145px;
	width: 155px;
	overflow:hidden;
	float:none;
	margin:0 auto;
	-moz-border-radius: 500px;
	-webkit-border-radius: 500px;
	border-radius: 500px;
	behavior: url(border-radius.htc);
}
.peopleSayImg img{
	margin-left:-25px;
	 margin-top: -15px;	
	
}
.peopleSayList li p.peopleSayName{
	font-size:24px;
	color:#a7a7a7;
	text-align:center;
	font-family:'CamillaRegular';
	
}
.peopleSayList li p{
	font-family:open_sanslight;
	margin:10px 0;
	float:left;
	width:100%;
}
.mainPeopleDiv{width:100%;}

/******************CSS For Footer**********************/
#footer{
	background:#2d3d4d;
	width:100%;
	float:left;
	color:#a8b5c6;
	border-bottom:2px solid #354961;
	padding-bottom:15px;
	margin-top: 25px;
}
.footerInner{
	width:1000px;
	float:none;
	margin:0 auto;
}
.footerInner ul li{
	display: inline-block;
    width: 33%;
	color:#a8b5c6;
	 float: left;
}
.footerInner ul li .footInerDiv h2 span{
	background: none repeat scroll 0 0 #049CDB;
    bottom: -1px;
    height: 1px;
    left: 0;
    position: absolute;
    width: 40%;
}
.footerInner ul li .footInerDiv h2{
	color:#a8b5c6;
	position:relative;
	font-size:24px;
	text-transform:uppercase;
	font-family: 'bebas_neueregular';
	font-weight:normal;
	border-bottom:1px solid #a8b5c6;
}
.footerInner ul li .footInerDiv{
	padding:10px;
	 width: 80%;
}
.footerInner ul li:last-child{
	float:right;
}
.footerInner ul li:last-child .footInerDiv{	width:95%;}
.footerInner ul li  .footInerDiv  .footNavList li {
	display:inline-block;
	width:100%;
}
.footerInner ul li  .footInerDiv p{
	margin:8px 0;
}
.footerInner ul li  .footInerDiv .footNavList li a{
	color:#a8b5c6;
	display:inline-block;
	width:100%;
	margin:4px 0;
}
.search {
	position:relative;
	width:100%;
}
.search input[type="text"]{
	border-radius:0;
	width:100%;
	background:#dfe0e0;
	padding:14px 5px;
}
.search span{
	position:absolute;
	right:10px;
	top:4px;
}
.search span{
	color:#2d3d4d;
	font-size:25px;
}
.footerInner ul li .footInerDiv  .footContactDiv p{
	margin:3px 0;
	vertical-align:middle;
}
.footerInner ul li .footInerDiv  .footContactDiv p i{
	font-size:16px;
	margin-right:5px;
}
#foot{
	background:#263343;
	min-height:25px;
	float:left;
	width:100%;
}
.footinner ul{
	float:left;
}
.footinner li {
	display:inline-block;
	color:#617082;
	font-size:13px;
	margin:10px 0;}

.footinner li a{
	display:inline-block;
	color:#617082;
	padding:5px 15px;
	border-left:1px solid #617082;
	font-size:13px;}

.footinner li:last-child a{color:#d66325;border-left:none;padding-left:0;}
.footinner li:first-child a{border-left:none;padding-left:0;}
.footinner{
	width:1000px;
	margin:0 auto;
	float:none;
}

.socialIconDiv {float:right;}

.socialIconDiv ul {margin:0px; padding:0px; float:right;}
.socialIconDiv ul li {float:left; padding:5px 10px !important; background:#fff; color:#2d3a4d; margin:0 0 0 7px;}
.socialIconDiv ul li a { color:#2d3a4d; padding:0px; border-left:0px;}
.socialIconDiv ul li:last-child a {color:#2d3a4d;}


/********************************inner pages************************************************/

.innerheading {background:url(../images/inner_headtop.png) repeat-x top center; height:85px; text-align:center; line-height:80px; font-size:50px; color:#fff; font-family:'CamillaRegular';}

.innerleft_con {float:left; width:230px; margin-top:15px;}

.innerleft_con h1 {font-family:'bebas_neueregular'; background:#0b5275; color:#fff; font-size:22px; padding-left:10px; line-height:37px; height:30px; border-bottom:5px solid #f38900;}

.leftmenu {margin:5px 0 0 0; padding:0px;}
.leftmenu li {list-style:none; background:url(../images/menu_arrow.png) no-repeat left; height:25px; padding-left:10px;}
.leftmenu li a {color:#666666; display:block; line-height:25px;}

.innerright_con { float:right; width:740px; min-height:218px; border-left:1px solid #999999; padding-left:15px; margin-top:15px;}

.subject_list {margin:0px; padding:0px;}
.subject_list li {display:inline-block; list-style:none; background:url(../images/borderLine.png) repeat; padding:7px; width:215px; margin:0 7px 14px 7px;}
.subject_list li a {display:block; background:#fff; padding:20px 0px; text-align:center;}
.subject_list li a p {text-align:center; color:#333; font-family:'bebas_neueregular'; font-size:22px; margin-top:10px;}
.subject_list li a:hover {background:#0b5275; color:#fff;}
.subject_list li a:hover p {color:#fff;}
.subject_list li a img {max-width:100%;}

/***********************************Accourdian*****************************/

#acc_wrap {width:100%; margin:50px auto;}
#acc_wrap ul {list-style-type:none;}
#acc_wrap ul li {margin-bottom:2px;}
#acc_wrap ul li h3 {font-size:22px; padding:0 0 8px 7px; cursor:pointer; line-height:190%; background:#326C84 url(../images/arrowright.png) 99% 50% no-repeat; background-size:40px 40px; font-family:'bebas_neueregular'; font-weight:normal; color:#fff;}

#acc_wrap ul li h3.active{background:#326C84 url(../images/arrowdon.png) 99% 50% no-repeat; background-size:40px 40px;}
#acc_wrap ul li .togglediv{display:none; padding:7px;}

.chap_pro {float:right; margin-right:50px; width:40%;}
.cap_per {float:left; font-size:14px; margin-top:5px;}
.pro_ma {width:60% !important; float:left; margin-left:15px; margin-top:16px;}


.user_ullcon {float:right; margin:17px 0 0 0; width:200px; cursor:pointer; position:relative;}
.user_img {float:left;}
.user_name {float:right; background:url(../images/arrow_down.png) no-repeat right; padding-right:25px; line-height:30px; color:#FFFFFF;}

.user_pro {position:absolute; display:none; background:#04203b; width:180px; padding:0px; top:56px; right:0;}
.user_pro ul {margin:0px; padding:0px;}
.user_pro ul li {list-style:none; padding:3px 0px; border-bottom:1px solid #0b3054; margin:0px 10px;}
.user_pro ul li a {color:#fff;}

.logout {background:#ff6c00; padding:3px 10px;}
.logout a {color:#fff; font-weight:bold;}

.da_tbl {margin-top:5px;}
.da_tbl h2 {font-family:'CamillaRegular'; font-weight:normal;}

.test_list_da {border-bottom:1px solid #15648c; padding:5px 3px; background:#0C5276}
.test_list_da a {font-size:18px; color:#fff; font-weight:normal;  font-family:'CamillaRegular'; letter-spacing:1px;}

.daleader {}
.daleader .bckImg img {height:24px; width:24px;}
.daleader tr {/*background:url(../images/bg_tr.png) repeat-x;*/}
.daleader tr td{font-family:'HoboStdMedium'; color:#ff6c00 !important; text-shadow:0 1px 0px #000; font-size:17px !important;}
.pointscon { background:url(../images/scorebgbg.png) no-repeat; padding:3px; text-align:center; border-radius:5px;}

.videoDiv12{padding:8px; background:url('../images/borderLine33312.png') #fff;}


.userproimg {float:left; margin-top:20px;}
.userproimgcon { float:left;margin-right:10px; position:relative;}
.user-cp{ position:absolute; bottom:-4px; background:#333; padding:2px 5px; color:#fff; font-size:11px; z-index:999}
.user-cp a{ color:#fff;}
.user-cp a:hover{ color:#F60; text-decoration:none}
.userproimgcon img {border:2px solid #666;  border-radius:8px; width:91px; height:94px;}
.userproimgcon h4 {font-size:22px; text-transform:uppercase;}

.dashboardtab { float:right; margin-top:20px;}
.dashboardtab ul {margin:0px; padding:0px; float:right;}
.dashboardtab ul li {display:inline-block; margin-left:15px; text-align:center; width:150px; border-radius:5px; box-shadow:0 5px 5px #A7A7A7;}

.dashboardtab ul li a {display:block; padding:20px 0px; text-decoration:none;}
.dashboardtab ul li a p {text-align:center; color:#fff; font-size:20px; text-transform:uppercase;}
.dashboardtab ul li.color1 {background:#F67B1B;}
.dashboardtab ul li.color2 {background:#FFC602;}
.dashboardtab ul li.color3 {background:#82B309;}
.dashboardtab ul li.color4 {background:#2F6081;}
.dashboardtab ul li:hover {background:#468EBE !important;}

.notificationhead {text-transform:uppercase; font-size:22px; color:#2F6081; padding:5px 15px; float:left; border-top:1px solid #C2C2C2; border-right:1px solid #C2C2C2; border-left:1px solid #C2C2C2; background:#fff; margin-bottom:-1px; border-top-right-radius:5px; border-top-left-radius:5px;}
.notificationcon {background:#fff; border:1px solid #C2C2C2; clear:both;padding:10px; border-radius:5px;}
.notificationcon ul { margin-left:20px;}
.notificationcon ul li {list-style:circle; padding:5px 0px;}

.mt-023 {margin-top:60px;}
.mt-024 {margin-top:30px;}

.mt-026 {margin:30px 0;}

.badgetcon {margin-left:20px;}
.badgetcon h3 {text-transform:uppercase; color:#C07232; border-bottom:1px solid #C07232; padding-bottom:5px;}
.badgetlist {width:100%; text-align:center; margin:20px 0 0 0; padding:0px;}
.badgetlist li {display:inline-block; margin:0px 7px;}

.leadboardcons {border:1px solid #2F6081; margin-top:20px;}
.leadboardcons th {background:#474948; padding:7px; font-size:18px; text-transform:uppercase; color:#fff; text-align:left;}
.leadboardcons_odd {background:#2F6081; padding:7px; margin:3px 0; height:35px;}
.leadboardcons_odd img, .leadboardcons_eve img {float:left; margin-right:10px; width:35px; height:35px;}
.leadboardcons_odd p, .leadboardcons_eve p { font-size:18px; text-transform:uppercase; color:#fff;}
.leadboardcons_eve {background:#D77311; padding:7px; margin:3px 0; height:35px;}

.submath {}
.submath a {padding:15px 20px; background:#326C84 url(../images/arrowright.png) no-repeat 97% 50%; color:#fff; font-size:22px; text-transform:uppercase; display:block;}

.submath a.sub2 {background:#80AE10 url(../images/arrowright.png) no-repeat 97% 50%; margin-top:10px;opacity:0.2;
filter:alpha(opacity=20); /* For IE8 and earlier */}
.submath a.sub3 {background:#FF9600 url(../images/arrowright.png) no-repeat 97% 50%; margin-top:10px;opacity:0.2;
filter:alpha(opacity=20); /* For IE8 and earlier */}
.submath a.sub4 {background:#B81601 url(../images/arrowright.png) no-repeat 97% 50%; margin-top:10px;opacity:0.2;
filter:alpha(opacity=20); /* For IE8 and earlier */}

/*******************************videogallery*****************************************/

.mt036 {margin:7px 0px;}
.mt037 {margin:20px 0px;}
.videogallery {}
.videogallery ul {margin:0px; padding:0px;}
.videogallery ul li {display:inline-block; margin:15px; width:283px; padding:10px 7px; background:#04213d; border-radius:7px; min-height:300px;}
.videogallery ul li h4 {font-size:18px; color:#859ba8; text-transform:uppercase;}
.videogallery ul li p {color:#859ba8;}
.videogallery ul li a {text-align:right; font-family:'CamillaRegular'; float:right; font-size:18px;}

.fontsize20 {font-size:22px !important; padding:10px 0 10px 7px !important; font-family:'CamillaRegular' !important; letter-spacing:0.5px; color:#ff6c00;}

.abcon {}
.abcon p {margin-bottom:15px; text-align:justify;}

.column_1, .column_3, .column_2 {float:left; width:283px; margin:0 15px; text-align:justify; padding:15px 10px; background:#0b5275; color:#fff; border-radius:5px; margin-top:20px; min-height:170px;}
.column_1 h3, .column_3 h3, .column_2 h3 { margin-bottom:10px; color:#FFFFFF;}
.column_1 p, .column_3 p, .column_2 p {text-align:right; margin-bottom:0px;}
.column_1 p a, .column_3 p a, .column_2 p a {color:#FFFFFF; font-weight:bold; font-family:'CamillaRegular'; font-size:20px;}
.column_2 {background:#ff6c00 !important;}

.feedbackfields {margin:10px 0px;}
.feedbackfields label {display:block; margin-bottom:3px;}
.feedbackfields input {width:100%; height:35px; background:#eeeeee; border:0px;}
.feedbackfields textarea {width:100%; height:120px; background:#eeeeee; border:0px;}

address {background:#eeeeee; padding:10px;}
.mpcon { margin-top:10px;}
.mpcon img {width:100%; border:5px solid #d6d6d6; border-radius:5px;}

.prourl { margin:0px; padding:0px;}
.prourl li {display:inline-block; background:#ff6c00; padding:5px 10px;}
.prourl li a {color:#fff;}

.homebanner {height:480px;}

.testheading_right {float:right;}
.testheading_left { float:left;}

.question_paper {list-style:decimal; margin-left:21px;}
.question_paper li {color:#2e74b8; font-weight:bold; margin-bottom:10px;}

.question_paper li label {display:block; position:relative; margin-top:5px;}
.question_paper li label span {padding-left:20px;}
.question_paper li input[type="radio"] {left:0px; top:3px;}
.test_left {float:left; margin-right:10px;}
.test_right {float:right; margin-left:10px;}
.test_mark {font-size:20px; /*font-weight:bold;*/ margin:20px 0px;}

.registration_form { margin:30px 0 0 0;}
.form_field {float:left; width:50%;}
.form_field label {display:block; margin-bottom:4px; color:#666; text-transform:uppercase;}
.form_field input[type=text], .form_field input[type=email], .form_field input[type=file]  { width:100%; height:35px; border:1px solid #CCC; background:#FFF; border-radius:0px;}
.form_field select {padding:8px; width:100%; border-radius:0px;}

.proimageup {width:300px; height:300px; float:right; background:#CCC; padding:5px; margin-top:20px; margin-right:10px; text-align:center;}
.proimageup img {width:300px; height:300px;}

.mytestcon label .true { color:#090 !important; font-weight:bold;}
.mytestcon label .false {color:#C00; font-weight:bold;}

.mytestcon li {border-bottom:1px solid #ccc; padding-bottom:10px;}



.solutionque {font-weight:normal; color:#333; padding-top:10px;}

#popup,  .bMulti {
      background: url(../6.png) no-repeat;
    border-radius: 8px;
/*    box-shadow: 0 0 25px 5px #999;*/
    color: #111;
    display: none;
     min-width: 685px;
    min-height: 350px;
    padding: 62px 0 0 19px;
}

#popup-1,  .bMulti {
    background: url(../5.png) no-repeat;
    border-radius: 8px;
   /* box-shadow: 0 0 25px 5px #999;*/
    color: #111;
    display: none;
    min-width: 465px;
    min-height: 350px;
    padding: 62px 0 0 190px;
}
#said-1,  .bMulti {
   
    border-radius: 8px;
   /* box-shadow: 0 0 25px 5px #999;*/
    color: #111;
    display: none;
    min-width: 465px;
    min-height: 350px;
    padding: 42px 0 0 0px; margin:20px; position:relative;
}
#said-1 .back{ background:#fff; border:8px solid #036; border-radius: 8px; z-index:99; display: inline-block; padding:15px; padding-left:130px; }
#said-1 .car-1{ background:url(../images/slider/said-1.png) no-repeat; position:absolute; left:0px; z-index:999; width:292px; height:398px; top:14px; left:-90px;}

#popup .logo {
    color: #2B91AF;
    font: bold 325% 'Petrona',sans;
}

.button.b-close, .button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -5px;
    top: 35px;
}

.button {
    background-color: #2B91AF;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px; font-weight: bold;
  padding: 10px 25px; text-transform: uppercase;
  text-decoration: none; cursor: pointer; float:right; border:1px solid #036;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#sub3{
	 margin:10px;
padding: 10px;
color: black;

display: none}

.box1{ background:#036; padding:4px 2px ; margin:3px 1px; border:1px solid #069; display:inline-block;}
.box1:hover{ background:#003; border:1px solid #06C}

.box2{ background:#090; padding:4px 2px ; margin:3px 1px; border:1px solid #0C0; display:inline-block;}
.box2:hover{ background:#060; border:1px solid #090}
.box3{ background:#F60; padding:4px 2px ; margin:3px 1px; border:1px solid #FC0; display:inline-block;}
.box3:hover{ background:#C30; border:1px solid #F60}