
.table{
	display:table;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border-bottom:2px solid #dddddd;
	color:#8d8d8d;
	margin:10px 0;
	width:100%;
}
.table-head{
	 display: table-header-group; 
}
.table-head .column{
	background:#0b5275;
	color:#fff;
	border-right:1px solid #5d5d5d;
	border-bottom:none;
	font-size:16px;
	font-family:'bebas_neueregular';
}
.table-head .column:hover{
	background:#222222;
}
.row{
	display:table-row;
	background:#f7f7f7;
}
.row .column:nth-child(1){
	border-left:1px solid #eeeeee;
}
.row:last-child .column{ 
	border-bottom:none;
}
.column{
	display:table-cell;
	padding:10px 20px;
	border-bottom:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
}
.column:hover{
	background:#f9f9f9;
}
/* Responsive table */
@media all and (max-width: 640px){
	.table,
	.row,
	.column,
	.column:before{
		display:block;
	}
	.table,
	.row .column:last-child{
		border-bottom:none;
	}
	.table-head{
		position:absolute;
		top:-1000em;
		left:-1000em;
	}
	.row{
		border:1px solid #eeeeee;
		border-top:2px solid #dddddd;
		border-bottom:2px solid #dddddd;
		margin:20px 0;
	}
	.row .column:nth-child(1){
		border-left:none;
	}
	.row .column:last-child{ 
		border-right:none;
	}
	.row:last-child .column,
	.column{
		border-bottom:1px solid #eeeeee;
	}
	.column:before{
		font-weight:normal;
		color:#0b5275;
		padding-right:20px;
		font-size:16px;
		font-family:'bebas_neueregular';
		content:" "attr(data-label)" ";
	}
}