/* Tiny Carousel */
#slider1 { height: 1%; overflow:visible; padding: 0 0 10px;   }
#slider1 .viewport { float: left; width: 100%;  overflow: hidden; position: relative; }
#slider1 .buttons {display: block; background-position: 0 -38px; text-indent: -999em;  margin-left: 5px;float: right; width: 36px; height: 33px; overflow: hidden; position: relative; }
#slider1 .prev { background: url('../images/crawsel_lft.png')no-repeat; }
#slider1 .next { background: url('../images/crawsel_rgt.png')no-repeat; }
#slider1 .disable { opacity: 0.3; }
#slider1 .overview { list-style: none; position: relative; padding: 0; margin: 0; width: 100%; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px;  width: 500px}


/* Tiny Carousel */
#slider2 { height: 1%; overflow:visible; padding: 0 0 10px;   }
#slider2 .viewport { float: left;   margin-top: 15px;width: 100%;  overflow: hidden; position: relative; }
#slider2 .buttons {display: block; background-position: 0 -38px; text-indent: -999em;  margin-left: 5px;float: right; width: 36px; height: 33px; overflow: hidden; position: relative; }
#slider2 .prev { background: url('../images/crawsel_lft.png')no-repeat; }
#slider2 .next { background: url('../images/crawsel_rgt.png')no-repeat; }
#slider2 .disable { opacity: 0.3; }
#slider2 .overview { list-style: none; position: relative; padding: 0; margin: 0; width: 100%; left: 0 top: 0; }
#slider2 .overview li{ float: left; margin: 0 20px 0 0;  width: 305px;  padding: 1px 0 0 12px;}

