
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, hr, input, textarea, select, radio, a { margin: 0; padding: 0; outline:none}
html, body button, input, select, textarea { color: #666666; font-family: 'Lato', sans-serif; font-weight:normal}
body { font-size: 14px; text-rendering: optimizeLegibility}
a { text-decoration:none }
a:focus { outline:none }
h1, h2, h3, h4, h5, h6, h7 { font-weight:normal }
hr { display: block; height: 2px; border: 0; border-top: 1px solid #ccc; border-bottom:1px solid #fff; margin: 20px 0}
img { vertical-align: middle}
.db { display:block}
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0}
.clear:before, .clear:after { content: " "; display: table}
.clear:after { clear: both}
.clear {
*zoom: 1; clear:both}
@font-face {  
  font-family: kruti dev ;  
  src: url( '../fonts/k011.TTF' ) format("truetype");  
}  
.f-loto{font-family: 'Lato', sans-serif !important;}
.f-kruti{font-family:  kruti dev !important;}
#bold {font-weight:bold;}


.fs18 { font-size:18px }
.cnthead { font-size:36px; font-weight:lighter; color:#333333; line-height:42px; margin-bottom:40px }
.cnt-head { font-size:30px; line-height:42px}
.h3, .h3g { font-size:30px; margin-bottom:30px; text-align:center; line-height:30px}
.cnthead-sub { font-size:24px; margin-bottom:15px; text-align:center; line-height:24px}
.h4 { font-size:24px; margin-bottom:20px; line-height:25px}
.para16 { font-size:16px; line-height:28px; letter-spacing:1px; margin-bottom:20px}

/* ===== Structure Style ======*/
body{background:#fff; padding-top:56px;}
.wrapper { width: 1100px; margin: 0 auto; position:relative}
header {height: 56px; width: 100%; background:#f3f3f3; position:fixed; top:0; z-index:99}
.form input[type='text']:focus, .form textarea:focus ,.form select:focus{ border-style:dashed}

.form {font-family:kruti dev; font-size: 17px;}

.form input[type='text'],.form input[type='password'],.form textarea ,.form select {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #dadada;
	height: 34px;
	padding-left: 10px;
	width: 295px; 
	font-family:kruti dev;
} 
.login input[type='text'],.login input[type='password'] {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #dadada;
	height: 34px;
	padding-left: 10px;
	width: 295px; 
}
.form-small-select {width: 135px!important;}

.form textarea {height:88px !important;}
.half-txtbox {width: 140px!important;}
.morehalf-txtbox {
    width: 86px !important;
}

.form select {font-weight:bold; vertical-align:middle;  padding: 6px;}

header h1 { float: left; padding:8px 0}
header h1 a { font-size:24px; color: #296fa2; text-indent:-999em}
nav { float:right;}
nav ul { list-style:none }
nav li { float:right; position:relative; text-transform: uppercase;}
.link > a:after { background-color:#296fa2; content: ""; display: block; height: 0; left: 0; position: absolute; top: 0; transition: height 0.3s ease 0s; width: 100%; z-index:-10}
.link a { position: relative; z-index: 11}
.link > a:hover:after, .link > a.active:after { height: 100%}
.link > a { display: block; padding: 15px 17px; font-weight: bold; color: #296fa2; line-height:26px}
nav ul li > a:hover, 
nav li.link > a.active { color: white}
ul.subnav li:hover nav li.link a:after, .link a.active:after { height: 100%}
.sign > a { color:#fff; display: block; margin:14px 0 14px 12px; padding:5px 15px 7px; font-weight: bold; 	background:#6b6b6b }
.signup > a { color:#fff; display: block; margin:14px 12px; padding:5px 15px 7px; font-weight: bold; 	background:#296fa2 }
.sign > a:hover { background:#296fa2}
nav ul li ul { position: absolute; z-index:10; left: 0; min-width: 165px; background: #fff; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); display:none; transition: all 5s linear}
.subnav li { float:none}
.subnav li a { padding:5px 10px; font-weight: bold; line-height:26px; display:block; color: #296fa2}
.subnav li a.active { background:#f3f3f3; color:#333}
.subnav li a:hover { background:#f3f3f3; color:#333}
nav ul li:hover ul.subnav { display:block; transition: all 0.5s linear}


.fs18 { font-size:18px }
.cnthead { font-size:36px; font-weight:lighter; color:#333333; line-height:42px; margin-bottom:40px }
.cnt-head { font-size:30px; line-height:42px}
.h3, .h3g { font-size:30px; margin-bottom:30px; text-align:center; line-height:30px}
.cnthead-sub { font-size:24px; margin-bottom:15px; text-align:center; line-height:24px}
.h4 { font-size:24px; margin-bottom:20px; line-height:25px}
.para16 { font-size:16px; line-height:28px; letter-spacing:1px; margin-bottom:20px}


footer { background:#555555; color:#fff}
#top-ftr { padding:40px 0; border-bottom:1px solid #464646}
#bottom-ftr { height:44px; line-height:44px; font-size:12px}
.col4 { width:25%; float:left}
footer aside { width:70% }
footer h5 { font-size:20px; margin-bottom:15px}
#top-ftr a { color:#fff}
#top-ftr a, footer p { line-height:20px; margin-bottom:7px}
footer a:hover { text-decoration:underline; color:#ededed }
.alC { text-align:center }
signin { text-align: center; width: 100%; }


.btn { cursor:pointer; line-height:22px; padding:8px 25px 10px; background-color: #296fa2; font-size:18px; color:#fff; text-shadow: #134d77 0 1px 2px; font-weight:normal; transition: all 0.2s ease 0s}
input[type="submit"].btn, button.btn { border:0}
.btn:hover { background-color: #434343; border-color:#434343 }
.btn-primary { background-color: #ffcd53; text-shadow: #e9b330 0 1px 2px; margin-right: 9px;
    margin-top: 9px;}
.btn.btn-block { width:100%; display:block; text-align:center }
.btn-large { line-height:inherit; padding:12px 40px 14px; font-size:24px}
.btn-danger { background:#dd4b39; text-shadow:#b52c1b 0 1px 2px; background: #eb513f; border: 1px solid #e64031; -webkit-box-shadow: inset 0 0 1px 0 #FFFFFF; box-shadow: inset 0 0 1px 0 #FFFFFF}
.btn-danger:hover { background:#6B6B6B; text-shadow:0 1px 2px #333}/*#e64031*/
.btn-danger.btn-large { *line-height:52px}

.warmBg {
    background-color: #ffcd53;
}

#common-banner { padding:16px 0; color:#333333; font-weight:lighter}
#common-banner.warmBg { border:1px solid #e9b32e}
#common-banner aside { float:left; width:30%}
#common-banner aside.last { width:70%}
.ban-icon { padding:0 75px}
.ban-icon img { width:100% }
#common-banner h2 { font-size: 36px; line-height: 40px;  font-weight:lighter}
#common-banner p { font-size:16px; line-height:28px; width:80%; margin-bottom:20px}


#signin {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #eaedef;
	margin: 60px auto 20px;
	padding: 15px 40px;
	width: 70%;
}
#list-item {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #eaedef;
	margin: 50px auto 20px;
	width: 100%;
}
#signinHeader {
	color: #296fa2;
    font-family: kruti dev;
    font-size: 24px;
    font-weight: lighter;
    line-height: 34px;
    margin-bottom: 10px;
}

.row {
margin-bottom: 15px;
}
.cnthead-sub {
font-size: 24px;
line-height: 24px;
margin-bottom: 15px;
text-align: center;
}

.form > ul{ list-style:none; clear: left; padding: 5px;}
.form > ul > li {    float: left;    list-style: none outside none;    text-align: left;    width: 50%;
}

.form-list-item {
	font-family: kruti dev;
	font-size: 17px;
}
.form-list-item select {
	
	width:120px;
	padding:4px;
}
.form-list-item input[type='text'] {
	
	width:220px;
	padding:4px;
}
.textboxsmall {
	
	width:120px !important; 
	padding:4px;
}

label {
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
}
.themeClr, .box-link, a, .h4, .h3, .cnt-head { color: #296fa2;}
.ligt { font-weight:300; }
.align-right {text-align:right;}
.button {
   
}
.button.small-red {
    background: none repeat scroll 0 0 #dd4b39;
    border: 1px solid #ca3523;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #ffffff;
    
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);  
	float: right;
    font-size: 16px;
    padding: 8px 9px;
    padding: 10px 8px; border-radius: 3px; width: 7%;
}

.cus-tbl {
    border: 0 none;
    margin-top: 13px;
    width: 66%;
}

.cus-tbl .row-1{background: none repeat scroll 0 0 #296fa2;
    color: white;
    font-size: 19px;
    line-height: 33px;
}
	
.cus-tbl .row-2{background: none repeat scroll 0 0 #f3f3f3;
	color: #296fa2;
	font-size: 19px;
	line-height: 33px;
}

.cus-tbl2 {
    border: 0 none;
    margin-top: 13px;
    width: 100%;
}

.cus-tbl2 .row-1{background: none repeat scroll 0 0 #296fa2;
    color: white;
    font-size: 19px;
    line-height: 33px;
}
	
.cus-tbl2 .row-2{background: none repeat scroll 0 0 #f3f3f3;
	color: #296fa2;
	font-size: 19px;
	line-height: 33px;
}

.alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
	font-family: verdana;
    font-weight: 100;
	margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}	
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}	
.alert-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}	
.side-heading-small {
	font-size:17px !important;
}
.list-title {
	text-decoration: underline;
	color: #296fa2;
}